*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background: #2799ad;
    color: #fff;
}
.title{
    margin: 20px auto;
}
.text{
    display: block;
    width: 850px;
    height: 200px;
    padding: 10px;
    margin: 30px auto;
    font-size: 1rem;
    color: #0d4657;
    background-color: #fff;
}

.board{
    width: 850px;
    padding: 15px;
    margin: 30px auto;
    border-radius: 5px;
    background-color: #91d4dd;
}

.key{
    height: 45px;
    width: 45px;
    margin: 3px;
    border: none;
    border-radius: 5px;
    background-color: #266074;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
}

.key:hover{
   /*background-color: #44afc5;*/
   opacity: 0.8;
}
.key-control{
  /*  width: 100px;*/
    background-color: #2e7b8b;
}

/*.key-space{
    width: 300px;
    background-color: #2e7b8b;
}*/

.pressed{
    background-color: #7a4c0f;
    border-radius: 40%;
}